
body{
    margin: 0%;
    padding: 0;
    background-image: url("https://img.freepik.com/foto-gratis/fondo-rojo-grunge_1048-8960.jpg?w=1060&t=st=1699297948~exp=1699298548~hmac=e50f7cf4b67293959df4a2af9cd01ff16e7753faa0fd4dfa131142477cde28d6");
    color: white;
}
.container-fluid{
    background-color: #000000;
    margin-top: -1%;
}
#navbarSupportedContent > ul > li > a{
    color: white;
}
#carouselExample > img{
    height: 50px;
    width: 50px;
}
.carousel{
    margin-top: -1%;
}
.container > p{
    font-size: 20px;
}
.info > .aviso > a > h1{
    font-size: 15px;
}
.info > .terminos > a > h1{
    font-size: 15px;
}
.info > .PREFERENCIAS > a > h1{
    font-size: 15px;
}
section{
    display: flex;
    width: 25%;
    height: 20%;
    margin-top: -1%;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.navbar-brand{
    color: white;
}
.container > img{
    width: 900px;
    height: 500px;
}
nav{
    background-image: url("https://img.freepik.com/foto-gratis/fondo-rojo-grunge_1048-8960.jpg?w=1060&t=st=1699297948~exp=1699298548~hmac=e50f7cf4b67293959df4a2af9cd01ff16e7753faa0fd4dfa131142477cde28d6");
}
.div1{
    background-image: url("https://img.freepik.com/foto-gratis/fondo-rojo-grunge_1048-8960.jpg?w=1060&t=st=1699297948~exp=1699298548~hmac=e50f7cf4b67293959df4a2af9cd01ff16e7753faa0fd4dfa131142477cde28d6");
    color: white;
    font-family: "Comic Sans MS";
}
.icon-link{

    margin-left: 45%;
    color: white;
    font-family: "Comic Sans MS";
    text-shadow: 1px  0px 0px white,
    0px  1px 0px white,
    -1px  0px 0px white,
    0px -1px 0px white;
    padding: 3%;
}
ul li{
    font-size: 20px;
}
.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
}
.video-container{
    max-width: 100%;
}
@media (max-width: 767px) {
    .video-container iframe {
        width: 100%;
        height: auto;
    }
}
.responsive{
    width: 100%;
}
.list-group-item{
    background-color: darkred;
}
.card-body{
    background-color: #a52834;
}
.card{
    color: white;
}
.list-group-item{
    color: white;
}
.footer a {
    color: #ff6f61;
    text-decoration: none;
    margin: 0 10px;
}
.footer a:hover {
    color: #ff9f80;
}
.redes {
    margin-top: 10px;
    font-size: 24px;
    margin: 0 10px;
    margin-bottom: 5px;
}




